.container {
    height: 700px;
    color: floralwhite;
    background-image: url("./images/night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.day {
    color: yellow;
    background-image: url("./images/day.webp");
}